@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url('./fonts/latin-300-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('./fonts/latin-300-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/latin-400-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/latin-400-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/latin-500-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/latin-500-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/latin-600-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/latin-600-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/latin-700-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/latin-700-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url('./fonts/latin-800-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('./fonts/latin-800-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url('./fonts/latin-300-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('./fonts/latin-300-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/latin-400-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/latin-400-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/latin-700-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/latin-700-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url('./fonts/latin-900-italic.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    @font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('./fonts/latin-900-normal.woff2') format(woff2);
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
    :root {
  
}

:root {
  --code-background: #000000;
  --code-border: rgba(0,0,0,0.7);
  --code-text: #F7F7F7;
  --code-comment: #80878D;
  --code-type: #EF98A8;
  --code-include: #C596C9;
  --code-string: #A59CC7;
  --code-class-name: #94A5CB;
  --code-numbers: #E8D670;
  --code-variables: #77B5E3;
  --code-functions: #DF8DC0;
  --code-literal: #F6B99A;
  --dark-code-background: rgba(0,0,0,0.7);
  --dark-code-border: rgba(0,0,0,0.7);
  --dark-code-text: #F7F7F7;
  --dark-code-comment: #80878D;
  --dark-code-type: #EF98A8;
  --dark-code-include: #C596C9;
  --dark-code-string: #A59CC7;
  --dark-code-class-name: #94A5CB;
  --dark-code-numbers: #E8D670;
  --dark-code-variables: #77B5E3;
  --dark-code-functions: #DF8DC0;
  --dark-code-literal: #F6B99A;
}

* {
  text-wrap: balance;
}

sup {
  top: -2em !important;
  font-size: 25% !important;
}

section > :not([class*="layout-"]) p, 
[class*="layout-"] > div p,
section > :not([class*="layout-"]) ul, 
section > :not([class*="layout-"]) ol, 
[class*="layout-"] > div > ul, 
[class*="layout-"] > div > ol,
section > :not([class*="footnotes"]) > div > ol{
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 2em;
} 

[class*="layout-"] > :not([class*="layout-"]) > *:not(:last-child){
  margin-bottom: 0.75rem;
}

    section > [class*="layout-"] > div sup {
  /* Write your CSS here for footnote reference */
}

section > [class*="layout-"] > div a.footnote {
  /* Write your CSS here for footnote link */
}


section .footnotes {
  padding-top: 1rem;
  border-top: 1px solid #000;
}

section > .footnotes ol, 
section > .footnotes ol li p{
  /* Write your CSS here for footnotes */
  font-size: 0.8125rem !important;
  margin-bottom: 0;
}

section > .footnotes li::before {
  /* Write your CSS here for the footnotes counter */
}

.has-footnotes .footnotes {
  display: block;
  font-size: 0.6rem;
}

  section > [class*="layout-"] > div {
  /* Write your CSS here */
}

.reveal .progress {
  height: 10px;
}

.reveal .progress span {
  background: #000;
}

section > :not([class*="layout-"]) h1,
[class*="layout-"] > div h1 {
  font-size: 2.5em;
  line-height: 0.9 !important;
}

section > :not([class*="layout-"]) h2,
[class*="layout-"] > div h2 {
  font-size: 2em;
  line-height: 1 !important;
}

.variable-size-headings section > :not([class*="layout-"]) h2, 
.variable-size-headings [class*="layout-"] > div h2 {
  font-size: 2em;
  line-height: 1 !important;
}

section > :not([class*="layout-"]) h3,
[class*="layout-"] > div h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

section > :not([class*="layout-"]) h4,
[class*="layout-"] > div h4 {
  font-size: 1rem;
  line-height: 1.25;
  border-bottom: 3px solid #000;
  margin-bottom: 2rem !important;
}